#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  padding: 2px;
}

span{
  border : solid 1px green;
  padding-left: 10px;
  padding-right: 10px;
}

ul{
  list-style-type: none;
}